{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% for party in parties %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <span class="d-block">
                    <small>· {{ party.fromAt|date("d/m/Y") }} - {{ party.toAt|date("d/m/Y") }}</small>
                </span>
                <a href="{{ path('test_show', {'id': party.id }) }}">{{ party.name }}</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}